// resetCSSに追加するものについてはこちらに
*:focus{
  outline:none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select{
  -webkit-appearance: none;
}