.signup-container
  .signup-header
    %h1.logo
      =link_to root_path,class:"logo__link" do
        =image_tag "logo.svg",class: 'logo__image'
    %nav.signup-progress
      %ol.signup-progress__list.clearfix
        %li.signup-progress__button.signup-progress__button--through
          会員情報
          .signup-progress__status.signup-progress__status--through
        %li.signup-progress__button.signup-progress__button--through
          電話番号認証
          .signup-progress__status.signup-progress__status--through
        %li.signup-progress__button.signup-progress__button--through
          お届け先住所入力
          .signup-progress__status.signup-progress__status--through
        %li.signup-progress__button.signup-progress__button--through
          支払い方法
          .signup-progress__status.signup-progress__status--through
        %li.signup-progress__button.signup-progress__button--active
          完了
          .signup-progress__status.signup-progress__status--active
  .signup-main
    .signup-main__container
      %h2.signup-main__heading 会員登録完了
      = form_with url: root_path, method: :get,local: true, html: {class: 'signup-form'} do |f|
        .signup-form__content
          .signup-form__group
            %p.signup-form__single-text.signup-form__single-text--text-center
              ありがとうございます。
              %br/
              会員登録が完了しました。
            %button.signup-form__button.signup-form__button--red{type: "submit"} メルカリをはじめる

          .signup-form__group
            %p.signup-form__single-text.signup-form__single-text--text-center
              ここにメルカリのフッターが入る
  = render partial: "signup/signup_footer"