.login-header{
  text-align: center;
}

// signupから流用 共通だからどちらか削除してもOK
.logo{
  display:inline-block;
  margin: 11px 0 12px;
  &__link{
    display:inline-block;
    width: 120px;
    height:33px;
    margin: 0 8px 0 0 ;
    line-height: 33px;
  }
  &__image{
    vertical-align: middle;
    width: 120px;
    height:33px;  
  }
}


// loginページのmainのBlock

.login-main{
  display:block;
  &__panel{
    max-width: 456px;
    margin: 0 auto;
    background: #fff;
  }
  &__group{
    padding: 24px 32px;

    p{
      text-align:center;
    }
    &:first-child{
      border-bottom: 1px solid #eee;
    }
  }
  &__button{
    display: block;
    margin: 8px 0 0;
    border: 1px solid $linkColor;
    background: $linkColor;
    color: #fff;
    line-height: 40px;
    text-align:center;
  }
  &__input-default{
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    width:100%;
    margin:8px 0 0;
    &:focus{
      border-color:$linkColor;
    }
    &:first-child{
      margin:0;
    }
  }
  &__link{
    display:block;
    margin-top:40px;
    color:$linkColor;
  }
}


.login-footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 250px;
  padding: 40px 0;
  text-align: center;
  &__logo{
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
    display:block;
    color:#333;
  }
  &__copyrights{
    margin:8px 0 0;
    &--small{
      font-size: 13px;
    }
  }
  a{
    text-decoration: none;
    &:hover{
      opacity:.7;
    }
  }
}
