
a {
  color: inherit;
  text-decoration: none; 
}

img {
  vertical-align: middle;
}

ol, ul {
  list-style: none;
  text-decoration: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}



*, ::before, ::after {
  box-sizing: border-box;
}

element.style {
  box-sizing: border-box;
  display: block;
  height: 100%;
  margin: 0px;
  -moz-box-sizing: border-box;
  -ms-transform: translate(0, 0);
  overflow: hidden;
  padding: 0;
  position: relative;
  touch-action: pinch-zoom pan-y;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

element.style {
  visibility: visible;
  transition: all 0.5s ease 0s;
  opacity: 1;
}



.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  position:relative;
  z-index:2;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  
  .breadcrumbs {
    position: relative;
    border-top: 1px solid #eee;
    background: #f5f5f5;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    background: #fff;
    height: 48px;
    padding-left: 210px;
    
    #text {
      margin: 0 8px;
      font-size: 9px;
      color: #888;
    }
    a {
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      margin-top: 15px;
      height: 48px;
      margin-bottom: 10px;
    }
  }
  
  .header-main {
    background-color: rgb(255, 255, 255);
    z-index:1000;
    height: 100px;
    width: 100%;
    
    .header-wrapper {
      position: relative;
      display: block;
      color: black;

    }
      .header-first {
        display: flex;
        width: 1020px;
        margin: 0px auto;
        padding: 8px 0px 0px;
  
        //header(1)
        .first-group {
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          .mercari {
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            height: 40px;
            margin-right: 45px;
            &__logo {
              display: block;
              color: inherit;
              text-decoration: none;
              font-weight: 400px;
              height: 36px;
              width: 134px;
              // vertical-align: middle;
            }
          }
        }
  
        .form-box {
          position: relative;
          width: 100%;
          &__form {
            background-color: rgb(245, 245, 245);
            font-size: 16px;
            height: 40px;
            width: 840px;
            -webkit-appearance: none;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(204, 204, 204);
            border-image: initial;
            border-radius: 4px;
            outline: none;
            padding: 0px 50px 0px 10px;
            transition: all 0.3s ease-out 0s;
          }
          &__btn {
            background-color: transparent;
            cursor: pointer;
            height: 40px;
            position: absolute;
            right: 0px;
            top: 0px;
            width: 40px;
            -webkit-appearance: none;
            border-width: initial;
            border-style: none;
            border-color: initial;
            border-image: initial;
            border-radius: 0px 4px 4px 0px;
            padding: 0px;
            &__search {
              max-width: 100%;
              max-height: 100%;
              color: rgb(34, 34, 34);
              height: 14px;
              margin-top: 2px;
              width: 14px;
            }
          }
        }
      }  
      
      //header(2)
      .header-second {
        margin: 0 auto;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-top: 8px;
        width: 1020px;
        height: 44px;
  
  
        //カテゴリー&ブランド
        .second-group {
          display: block;
          display: flex;
          margin-left: -3px;
          
          .category-menu {
            cursor: pointer;
            position: relative;
            z-index: 3;
            padding: 0px 8px;
  
            .header-category {
              display: block;
              font-size: 14px;
              font-weight: 600;
              line-height: 36px;
              white-space: nowrap;
  
              //カテゴリーを探す
              .category-search {
                max-width: 170px;
                max-height: 100%;
                color: rgb(234, 53, 45);
                margin-right: 4px;
              }
            }
          }
          
          .brands-menu {
            cursor: pointer;
            height: 44px;
            width: 170px;
            position: relative;
            padding: 0px 10px;
  
            .header-brands{
              display: block;
              font-size: 14px;
              font-weight: 600;
              line-height: 36px;
              z-index: 3;
  
              //ブランドから探す
                .brands-search {
                  color: rgb(234, 53, 45);
                max-width: 100%;
                max-height: 100%;
                height: 12px;
                margin-right: 4px;
              }
            }
          }
        }
  
        .fours-group {
          position: relative;
          display: flex;
          height: 44px;
  
          //いいね!一覧
          .like-list {
            -webkit-box-align: center;
            align-items: center;
            font-size: 14px;
            transform: scale(1);
            transition: all 0.3s ease-out 0s;
            padding-right: 15px;
  
            .like {
              -webkit-box-align: center;
              align-items: center;
              display: flex;
              font-size: 14px;
              height: 32px;
              transform: scale(1);
              transition: all 0.3s ease-out 0s;
  
              .like-menu {
                max-width: 100%;
                height: auto;
                max-height: 100%;
                color: rgb(204, 204, 204);
                margin-right: 10px;
                width: 19px;
              } 
            }
          }
  
          //お知らせ
          .notice-list {
            height: 44px;
            position: relative;
            padding: 0px 7px;
            .notice-menu {
              -webkit-box-align: center;
              align-items: center;
              display: flex;
              font-size: 14px;
              height: 32px;
              transform: scale(1);
              transition: all 0.3s ease-out 0s;
              .notice {
                max-width: 100%;
                height: auto;
                max-height: 100%;
                color: rgb(204, 204, 204);
                margin-right: 10px;
                width: 17px;
              }
            }
          }
  
          //やることリスト 
          .to-do-list {
            height: 44px;
            position: relative;
            padding: 0px 7px;
            .to-do-menu {
              -webkit-box-align: center;
              align-items: center;
              display: flex;
              font-size: 14px;
              height: 32px;
              transform: scale(1);
              transition: all 0.3s ease-out 0s;
              .to-do {
                max-width: 100%;
                height: auto;
                max-height: 100%;
                color: rgb(204, 204, 204);
                margin-right: 10px;
              }
            }
          }
  
          //マイページ
          .mypage-list {
            height: 44px;
            position: relative;
            padding: 0px 7px;
            .mypage-menu {
              -webkit-box-align: center;
              align-items: center;
              display: flex;
              font-size: 14px;
              height: 32px;
              transform: scale(1);
              transition: all 0.3s ease-out 0s;
              .mypage {
                margin-right: 10px;
                width: 32px;
                border-radius: 50%;
                overflow: hidden;
              }
            }
          }
        }
      } 
    } 
  
}




//sliderの部分
.main {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__wrapper {
    &__center {

      &__sliders {
        .slick-prev{
          height: 46px;
          width: 31px;
          background-image: url("https://web-jp-assets.mercdn.net/_next/static/images/carousel-prev-af7ca886ce42c4c02610cd15421ddcad.png");
        }
        .slick-next {
          height: 46px;
          width: 31px;
          background-image: url("https://web-jp-assets.mercdn.net/_next/static/images/carousel-next-bc3a1438a1435e953bc67d720cd05c61.png");
        }
        &__campern {
          &__new {
            width: 1450px;
            height: 390px;
          }
        }
        &__add {
          &__yuta {
            width: 1450px;
            height: 390px;
          }
        }
        &__slide {
          width: 1450px;
          height: 390px;
          background-image: url("https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-892151cc75b1f6a1285bf7943c9b933c.jpg");
          position: relative;
          background-size: cover;
          &__sumaho {
            -webkit-box-align: start;
            align-items: start;
            display: flex;
            height: 360px;
            width: 860px;
            position: relative;
            margin: 0px auto;
            &__momo {
              height: 390px;
              width: 440px;
              position: absolute;
              top: 0px;
              right: 0px;    
            }
            &__PkUrY {
              height: 100%;
              width: 860px;
  
              &__bqsQJl {
                font-size: 50px;
                font-weight: 600;
                line-height: 1.4;
                margin-bottom: 16px;
                white-space: pre-wrap;
              }
              &__SGfox {
                font-size: 16px;
                line-height: 1.77777;
                margin-bottom: 24px;
              }
              &__heyozC {
                display: flex;
                width: 780px;
                height: 50px;
                padding: 5px;
                //App store
                &__gxiFBJ {
                  display: inline-block;
                }
                //Google play
                &__jcELSQ {
                  display: inline-block;
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
    }

    //人気のカテゴリー
    &__famose {
      background-color: rgb(255, 255, 255);
      left: 50%;
      margin-left: -50vw;
      position: relative;
      top: 0px;
      width: 100vw;
      padding: 40px 20px 20px;
      .famose-category {
        margin-bottom: 16px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4em;
        margin: 0;
        padding: 0;
      }
   
      .category-group {
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        .catego-group {
          display: block;
          text-align: center;
          width: 100%;
          margin: -10px 0px 0px -10px;
  
          //人気カテゴリーのメニュー (レディース)
          .items-collection {
            display: inline-block;
            .collection-list {
              background-color: rgb(239, 239, 239);
              cursor: pointer;
              display: inline-block;
              font-size: 14px;
              font-weight: 600;
              border-radius: 15px;
              padding: 8px 16px;
              margin-top: 30px;
            }
            &__enSCtM {
              background-color: rgb(239, 239, 239);
              cursor: pointer;
              display: inline-block;
              font-size: 14px;
              font-weight: 600;
              border-radius: 15px;
              padding: 8px 16px;
              display: none;
            }
          }
        }
      }
    }
    
    //レディース新着アイテム
    &__new {
      padding: 30px 0px 60px;
      .new-item {
        font-family: Arial, "游ゴシック体", "YuGothic", "メイリオ", Meiryo, sans-serif;
        font-weight: 600;
        margin: 0 auto;
        height: 584px;
        width: 1020px;

        .new-itembox {
          display: flex;
          align-items: flex-end;
          -webkit-box-pack: justify;
          justify-content: space-between;
  
          //レディース新着アイテムの文字
          .new-collection {
            flex: 1 1 0%;
            font-family: Arial, sans-serif;
            font-size: 24px;
            font-family: Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
          }
          //もっとみる
          .new-more {
            color: rgb(0, 149, 238);
            display: block;
            font-size: 17px;
            font-weight: 600;
            position: relative;
            padding: 5px 14px 5px 5px;
  
          }
          &__cVpVcG::before {
            bottom: 0px;
            content: "";
            height: 8px;
            position: absolute;
            right: 2px;
            top: 0px;
            transform: rotate(-45deg);
            width: 8px;
            border-bottom: 2px solid rgb(0, 149, 238);
            border-right: 2px solid rgb(0, 149, 238);
            margin: auto;
          }
        }

        //商品一覧
        .main-collection {

          height: 544px;
          width: 1020px;
          
          //商品一覧の親要素 <ul>
          .main-imagebox {
            display: flex;
            flex-wrap: wrap;

            //商品の中身 <li>
            .main-box{
              padding-right: 16px;
              padding-top: 15px;

              //figure要素
              .box-figure {
              background-color: #fff;
              -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.18);
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              flex-direction: column-reverse;
              font-family: Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
              margin: 0;
              overflow: hidden;
              z-index: 0;
              display: flex;
              height: 252px;
              width: 188px;

              //figcapition
              .figure-group {
                color: #222;
                font-size: 14px;
                line-height: 1.4em;
                white-space: normal;
                word-break: break-word;
                justify-content: center;
                padding: 0 12px;
                position: relative;
                height: 0;
                height: 64px;
                width: 188px;

                //span
                .figure-text {
                  display: inline-block;
                  height: 2.8em;
                  overflow: hidden;
                  position: relative;
                  padding-top: 10px;
                }
              }

              .product-imagebox {
                height: 0;
                position: relative;
                overflow: hidden;
                padding: 0 0 100%;
                            
                .product-price {
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  background: rgba(0,0,0,.4);
                  border-radius: 0 14px 14px 0;
                  bottom: 8px;
                  color: #fff;
                  display: inline-flex;
                  font-size: 17px;
                  height: 32px;
                  height: 28px;
                  letter-spacing: .02em;
                  margin-top: 10px;
                  padding:  12px;
                  position: absolute;
                  z-index: 2;
                  
                }
                .product-image {
                  bottom: 0;
                  position: absolute;
                  top: 0;
                  height: 188px;
                  -o-object-fit: cover;
                  object-fit: cover;
                  vertical-align: top;
                  width: 188px;
                  z-index: 1;
                }
              }
            }
            }
          }
        }
      }
    }
  }
}


.tMFrx {
  color: rgb(255, 255, 255);
  background-image: url('https://web-jp-assets.mercdn.net/_next/static/images/download_app_bg-b57d6f1….jpg');

  &__eaokGr {
    background-image: url('https://web-jp-assets.mercdn.net/_next/static/images/download_app_bg-b57d6f1a32f2aebd89cf6f43bc2e4b39.jpg');

    &__cLeTwE {
      -webkit-box-align: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.2);
      color: rgb(255, 255, 255);
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      text-align: center;
      padding: 15px 0px;

      //メルカリのロゴ画像
      &__kfjLdP {
        height: 50px;
        margin-right: 20px;
        width: 50px;
      }
      //スマホで簡単フリマアプリ 今すぐ無料ダウンロード
      &__jQKwxH {
        display: inline-flex;
        flex-direction: column;
        text-align: left;
        &__bOqOHJ {
          font-size: 20px;
          margin-top: 8px;
        }
      }
    }
  }

  //今すぐ無料ダウンロード
  &__ezxxhU {
    background: url('https://web-jp-assets.mercdn.net/_next/static/images/download_app_bg-b57d6f1….jpg') center center / cover;
    background-image: url('https://web-jp-assets.mercdn.net/_next/static/images/download_app_bg-b57d6f1a32f2aebd89cf6f43bc2e4b39.jpg');

    &__chTgRp {
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      width: 750px;
      margin: 0px auto;

      // <div class>
      &__iVGjEK {
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        //スマホで簡単フリマアプリ
        &__bdqVww {
          color: rgb(255, 255, 255);
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 15px;
        }
        //今すぐ無料ダウンロード
        &__jURitu {
          color: rgb(255, 255, 255);
          font-size: 35px;
          margin-bottom: 20px;
        }

        //メルカリのロゴ画像
        &__dhItlX {
          width: 417px;
          height: 68px;
          display: flex;

          &__jSTnBt {
            height: 68px;
            margin-right: 20px;
            width: 68px;
          }

          &__lgmdCB {
            margin-top: 20px;
            //App store
            &__kDwjrS {
              height: 40px;
              margin-right: 8px;
              width: 144px;
            }
            //Google play
            &__fofvah {
              height: 40px;
              width: 144px;
            }
          }
        }
      }

      // <fiqure class>
      &__kzQJRg {
        display: block;
        &__cYtUcH {
          height: 260px;
          width: 300px;
        }
      }
    }
  }
}

.footer {
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0px 20px 10px;
  height: 390px;
  &__drJXHf {
    width: 1020px;
    margin: 0px auto;
    display: flex;

    //メルカリについて
    &__hHaGTu {
      display: inline-block;
      margin-top: 18px;
      vertical-align: top;
      width: 240px;
      padding: 0px 10px;
  
      //メルカリについて
      &__cPzMyz {
        font-size: 16px;
        font-family: Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        line-height: 1.4em;
        margin: 0px;
        padding: 0px;
      }
      //・会社概要・採用情報... <ul>
      &__ewFVzB {
       
        //<li>
        &__cbYKEG {
            opacity: 0.7;
            line-height: 1.4em;
            margin: 16px 0px 0px;
            margin-top: 16px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
            display: list-item;
            text-align: -webkit-match-parent;
          &__iWAEfH {
            color: rgb(255, 255, 255);
            opacity: 0.7;
            display: list-item;
            &__iQCNqi {
              max-width: 100%;
              height: auto;
              max-height: 100%;
              width: 30px;
              margin-right: 20px;
            }
            &__gJZiyP {
              max-width: 100%;
              height: auto;
              max-height: 100%;
              width: 26px;
            }
          }
        }
        //Tweeter//facebookのロゴ
        &__icmRxI {
          display: inline-block;
          margin-top: 30px;
          &__iQCNqi {
            max-width: 100%;
            height: auto;
            max-height: 100%;
            width: 30px;
            margin-right: 20px;
          }
          &__gJZiyP {
            max-width: 100%;
            height: auto;
            max-height: 100%;
            width: 26px;
          }
        }
      }

      //ヘルプ＆ガイド
      &__cPzMyz {
        font-size: 16px;
        font-family: Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        font-weight: 600;
        line-height: 1.4em;
        margin: 0;
        padding: 0;
        width: 270px;
      }
      &__ewFVzB {
        &__cbYKEG {
          line-height: 1.4em;
          margin: 16px 0px 0px;
          &__iWAEfH {
            color: rgb(255, 255, 255);
            opacity: 0.7;
          }
        }
      }
    }

      //プライバシーと利用規約
      &__aWegH {
      display: inline-block;
      vertical-align: top;
      margin-top: 18px;
      width: 438px;
      padding: 0px;
      &__cPzMyz {
        font-size: 16px;
        font-family: Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        font-weight: 600;
        line-height: 1.4em;
        margin: 0px;
      }

      //<ul>
      &__dzjMfv {
        display: inline-block;
        vertical-align: top;
        width: 189px;

        //<li>
        &__ewFVzB {
          opacity: 0.7;
          height: 128px;
          &__cbYKEG {
            line-height: 1.4em;
            margin: 16px 0px 0px;
            &__iWAEfH {
              color: rgb(255, 255, 255);
              opacity: 0.7;
            }
          }
        }
        &__ewFVzB {
          &__cbYKEG {
            line-height: 1.4em;
            margin: 16px 0px 0px;
            &__iWAEfH {
              color: rgb(255, 255, 255);
              opacity: 0.7;
            }
          }
        }
      }
    }

  //国(Japan)
  &__doTCXK {
    display: inline-block;
    vertical-align: top;
    margin-top: 16px;
    width: 112px;
    padding: 0px;
    &__cPzMyz {
      font-size: 16px;
      font-family: Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
      font-weight: 600;
      line-height: 1.4em;
      margin: 0px;         
    }

    &__ewFVzB {
      width: 72px;
      &__cbYKEG {
        line-height: 1.4em;
        margin: 16px 0px 0px;
        &__hIUIIb {
          color: rgb(255, 255, 255);
          opacity: 0.7;
          margin-right: 30px;
        }
      }
    }
  }

    //メルカリについて擬似クラス
    &__hHaGTu:first-child {
      padding-left: 0px;
    }
  }

  //一番下の部分
  &__igdlOb {
    width: 1020px;
    margin: 55px auto 10px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    margin-top: 55px;
    &__hdALBW {
      text-align: center;
      &__ioByYU {
        height: 33px;
        width: 124px;
      }
    }
    &__exdDTv {
      padding-left: 15px;
      width: 75%;
      text-align: center;
    }
  }
}



//js部分です。
.category-menus {
  width: 224px;
  display: none;
  left: 5px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 43px;
  

  .category-list {
    background-color: rgb(255, 255, 255);
    width: 224px;
    z-index: 3;
    .parent-list {
      padding: 0px 16px;
      width: 224px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;     
      .child-list{
        background-color: rgb(255, 255, 255);
        bottom: 0px;
        display: none;
        left: 224px;
        position: absolute;
        width: 224px;
        top: 0px;
        .child-menu {
          background-color: rgb(255, 255, 255);
          width: 200px;
          height: 20px;
          .grandchild-list{
            background-color: rgb(255, 255, 255);
            bottom: 0px;
            display: none;
            left: 224px;
            position: absolute;
            width: 224px;
            top: 0px;
            .grand-list {
              background-color: rgb(255, 255, 255);
              width: 200px;
              height: 20px;
            }
          }
        }
        
      }
    }
    .mens {
      padding: 0px 16px;
      width: 224px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .baybes {
      padding: 0px 16px;
      width: 224px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      
    }
    .houses {
      padding: 0px 16px;
      width: 224px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .books {
      padding: 0px 16px;
      width: 224px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      
    }
    .goods {
      padding: 0px 16px;
      width: 224px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }    
    .perfumes {
      padding: 0px 16px;
      width: 224px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      
    }
    .elects {
      padding: 0px 16px;
      width: 224px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .sports {
      padding: 0px 16px;
      width: 224px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .hands {
      padding: 0px 16px;
      width: 224px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      
    }
    .tickets {
      padding: 0px 16px;
      width: 224px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .automashine {
      padding: 0px 16px;
      width: 224px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      
    }
    .other {
      padding: 0px 16px;
      width: 224px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }    
    .category-mode {
      padding: 0px 16px;
      width: 224px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}


.brand-menu {
  display: none;
  left: -34px;
  position: absolute;
  margin-left: 45px;
  top: 40px;
  .brand-list {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    width: 224px;

    .shanels {
      width: 224px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 0px 16px;
    }
    .naikis {
      width: 224px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 0px 16px;
    }
    .vitons {
      width: 224px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 0px 16px;
    }
    .suprimes {
      width: 224px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 0px 16px;
    }
    .adidas {
      width: 224px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 0px 16px;
    }
    .brands {
      width: 224px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 0px 16px;
    }


  }
}

//js お知らせ
.news-box {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  display: none;
  position: absolute;
  top: 44px;
  width: 320px;
  height: 120px;
  z-index: 3;
  left: 65%;
  transform: translate(-50%, 0px);

  //お知らせの中身
  .news-list {

    .news-menu {
      position: relative;
      .news-hoge {
        display: flex;
        min-height: 80px;
        padding: 16px;
        .news-mercari-logo {
          height: 48px;
          width: 48px;
          display: block;
          position: relative;
          padding: 0px 0px 100%;
          &__mercari-logo {
            display: block;
            height: 50px;
            width: 50px;
            left: 0px;
            object-fit: cover;
            position: absolute;
            overflow: hidden;
            top: 0px;
          }
        }

        .news-now {
          width: 250px;
          height: 150px;
          margin: 0px 40px 0px 20px;
          .news-campaign {
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            line-height: 1.4em;
            text-overflow: ellipsis;
            overflow: hidden;

          }
          .news-watch {
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            .news-watch-logo {
              max-width: 100%;
              max-height: 100%;
              color: rgb(204, 204, 204);
              display: block;
              height: auto;
              width: 16px;
              margin: 0px 8px 0px 0px;
            }
          }
        }
      }
    }
  }
}

.doing-list{
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  display: none;
  position: absolute;
  top: 44px;
  width: 320px;
  height: 120px;
  z-index: 3;
  left: 65%;
  transform: translate(-50%, 0px);
  .doing-menu {

    .doing-do {
      position: relative;
      .doing-logo {
        display: flex;
        min-height: 80px;
        padding: 16px;
        .doing-picture {
          height: 48px;
          width: 48px;
          display: block;
          position: relative;
          padding: 0px 0px 100%;

          //メルカリのロゴ
          .doing-mercari {
            display: block;
            width: 50px;
            height: 50px;
          }
        }

        .doing-news {
          flex: 1 1 0%;
          margin: 0px 40px 0px 20px;
          .doing-news-list {
            height: 50px;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            line-height: 1.4em;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .doing-watch {
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            .doing-watch-logo {
              max-width: 100%;
              max-height: 100%;
              color: rgb(204, 204, 204);
              display: block;
              height: auto;
              width: 16px;
              margin: 0px 8px 0px 0px;
            }
          }
        }
        .doing-path {
          max-width: 100%;
          height: auto;
          height: 130px;
          color: rgb(204, 204, 204);
        }
      }
    }
  }
}

//マイページのjs
.top-mypage {
  display: none;
  right: 0;
  position: absolute;
  top: 44px;
  z-index: 1;
  width: 320px;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
  font-size: 14px;
  .mypage-shadow {
    text-align: center;
    &__myuser-image {
      background-image: url("https://www.mercari.com/assets/img/mypage/user-bg.jpg");
      padding: 28px 0 0;
      height: 80px;
      background-repeat: no-repeat;
      background-size: 320px 80px;
      .my-icon {
        overflow: hidden;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border-radius: 50%;
        -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08);
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08);
      }
      .current-name {
        color: black;
        margin: 8px 0 0;
        padding: 0 8px;
        font-size: 16px;
      }
    }
    //評価
    .evaluation-box {
      margin: 40px 0 0;
      padding: 8px 8px 0;
      font-size: 0;
      text-align: center;
      display: flex;
      .evaluation {
        display: inline-block;
        margin: 0 0 0 16px;
        font-size: 14px;
        margin: 0;
        display: block;
        font-size: 14px;
        color: #333;
        padding-bottom: 10px;
      }
      .count {
        display: block;
        font-size: 14px;
        color: #333;
      }
    }
    .moneybox {
      width: 300px;
      margin: 0 auto;
      background: #fafafa;
      border: 1px solid #eee;
      .sale-list {
        padding: 0 8px;
        line-height: 40px;
        display: block;
        font-size: 14px;
        color: #333;
        height: 45px;
        .sale-now {
          float: left;
        }
        .sale-total {
          float: right;
          position: relative;
          top: -2px;
          font-size: 12px;
          margin: 0 0 0 8px;
          color: #ccc;
        }  
      }
    }
    .pointbox {
      width: 300px;
      margin-bottom: 10px;
      margin: 0 auto;
      background: #fafafa;
      border: 1px solid #eee;
      .point-list {
        padding: 0 8px;
        line-height: 40px;
        font-size: 14px;
        color: #333;
        height: 45px;
        .point-now {
          float: left;
        }
        .point-total {
          float: right;
          position: relative;
          top: -2px;
          font-size: 12px;
          margin: 0 0 0 8px;
          color: #ccc;
        }  
      }
    }
    .my-listbox {
      border-top: 1px solid #eee;
      margin-top: 1px;
      .listbox-now {
        position: relative;
        display: block;
        background: #fff;
        font-size: 14px;
        color: #333;
        .good-group {
          width: 290px;
          height: 45px;
          &__good-now {
            display: block;
            border-bottom: 1px solid #eee;
            margin-top: 10px;
            min-height: 35px;
            width: 320px;
            padding-top: 5px;
            padding-right: 200px;
          }
        }
        .product-group {
          width: 290px;
          height: 45px;
          &__product-now {
            display: block;
            border-bottom: 1px solid #eee;
            margin-top: 10px;
            min-height: 30px;
            width: 320px;
            padding-right: 150px;
          }
        }
        .sale-group {
          width: 290px;
          height: 45px;
          &__sale-now {
            display: block;
            border-bottom: 1px solid #eee;
            margin-top: 10px;
            min-height: 30px;
            width: 320px;
            padding-right: 135px;
          }
        }
        .past-group {
          width: 290px;
          height: 45px;
          &__past-now {
            display: block;
            border-bottom: 1px solid #eee;
            margin-top: 10px;
            min-height: 30px;
            width: 320px;
            padding-right: 120px;
          }
        }
      }
    }
  }
}

.detail-container {
  margin: 40px auto 0;
  padding: 24px 16px 55px 16px;
  height: 100%;
  width: 700px;
}

.itembox {
  box-sizing: border-box;
  background: #fff;
  margin: 40px auto 0;
  width:700px;
  padding: 24px 16px 55px 16px;
  @media screen and (min-width: 768px){
    padding:24px 40px 40px;
  }
}

.name {
  font-size: 24px;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.4;
  font-weight: bold;
  
}

    //左側の写真部分
.itembox-main {
  margin:16px 0 0;
  display:flex;
}
.itembox-photos {
  min-width: 300px;
  max-width: 300px;
  min-height: 375px;
  margin: 0 auto;
  background: #fafafa;
}
.itembox-photo {
  height: 300px;
  width: 300px;
  .slick-prev {
    display: none;
  }
  .slick-next {
    display:none;
  }
}
.image-for {
  display: block;
  height: 300px;
  width: 300px;
  img {
    width: 300px;
    height: 300px;
  }
  .slick-prev {
    display: none;
  }
  .slick-next {
    display:none;
  }

  .slick-dots {
    width: 300px;
    height: 300px;
    margin-bottom: -95px;
    img {
      width: 60px;
      height: 60px;
    }
    li {
      opacity: .4;
      width: 60px;
      height: 60px;
      bottom: -180px;
    }
    .slick-active{
      opacity:1;
    }
  }
}


.itembox-table {
  max-width: 300px;
  height: 420px;
  margin: 0 auto;
  th{
    width: 39%;
    text-align: left;
    font-weight: 400;
    background: #fafafa;
    border-collapse: collapse;
    border: 1px solid #f5f5f5;
    padding: 16px 8px;
    @media screen and (min-width: 768px){
      padding:8px;
    }
  }
  td{
    width: 61%;
    background: #fff;
    border-collapse: collapse;
    border: 1px solid #f5f5f5;
    padding: 16px 8px;
    @media screen and (min-width: 768px){
      padding:8px;
    }
  }
  a{
    color: $linkColor;
    text-decoration: none;
  }
}

.itembox-colmn {
  height: 70px;
  width: 300px;
}
.itembox-seller {
  height: 65px;
  text-align: left;
  font-weight: 400;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  padding: 16px 8px;
}

.itembox-category {
  height: 65px;
  text-align: left;
  font-weight: 400;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  padding: 16px 8px;

  .category-now {
    color: blue;
    display: block;
  }
}
.itembox-brand {
  height: 65px;
  text-align: left;
  font-weight: 400;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  padding: 16px 8px;
}
.itembox-size {
  height: 65px;
  text-align: left;
  font-weight: 400;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  padding: 16px 8px;
}
.itembox-all-now {
  display: block;
  width: 182px;
  height: 50px;
  background: #fff;
  margin-left: 8px;
  border-bottom: 1px solid #f5f5f5;
  margin-top: 15px;
  &__owner {
    display: block;
    color: rgb(0, 149, 238)
  }
  &__japan-area {
    display: block;
    color: rgb(0, 149, 238);
  }
}
.itembox-status {
  height: 65px;
  text-align: left;
  font-weight: 400;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  padding: 16px 8px;
}
.itembox-burden {
  height: 65px;
  text-align: left;
  font-weight: 400;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  padding: 16px 8px;
}
.itembox-status {
  height: 65px;
  text-align: left;
  font-weight: 400;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  padding: 16px 8px;
}
.itembox-area {
  height: 65px;
  text-align: left;
  font-weight: 400;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  padding: 16px 8px;

}
.itembox-indication {
  height: 65px;
  text-align: left;
  font-weight: 400;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  padding: 16px 8px;
}


    //値段
.itembox__price-box {
  text-align: center;
  width: 620px;
  height: 50px;
  .item-price {
    font-size: 50px;
    width: 102px;
    height: 63px;
  }
  .item-tax {
    padding-left: 10px;
  }
  .item-shipping-fee  {
    display: inline-block;
    font-size: 16px;
  }
}

//購入ボタン
.buy-btn {
  width:100%;
  display: block;
  margin-top: 16px;
  background: $buttonColor;
  font-size: 14px;
  color: #fff;
  line-height: 56px;
  text-align: center;
  font-weight: 600;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  @media screen and (min-width: 768px){
    font-size: 24px;
    line-height: 60px;  
  }
  &--gray{
    background-color:#aaa;
    color:#fff;
  }
}

//購入画面の下の説明
.shipping-only {
  margin-top: 16px;
  color: $buttonColor;
  line-height: 1.5;
  font-size: 14px;
  text-align: center;
}

//商品説明
.itembox-description {
  // padding: 2px 0 0;
  line-height: 1.5;
  font-size: 18px;
  white-space: pre-line;
  &__inner {
    display: block;
    width: 620px;
  }
}

.listing-item-change-box{
  margin: 24px auto 24px;
  background: #fff;
  padding: 8px 16px 8px 16px;
  width:700px;
  a{
  margin: 16px 0 16px;

  }
  p{
    font-size:16px;
  }
  .text-center{
    text-align:center;
  }

}


    .itembox-buttonbox {
      display: flex;

      .button-left {
        width: 314px;
        height: 33px;
        font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
        font-size: 14px;
        color: #333;
        line-height: 1;

        &__button-like {
          width: 118px;
          height: 33px;
          display: inline-block;
          margin: 1px 0 0 8px;
          font-size: 12px;
          vertical-align: middle;
          color: #333;
          border: 1px solid #f5f5f5;
          border-radius: 40px;
          background: #f5f5f5;
        }

        &__button-report {
          margin-left: 15px;
          width: 130px;
          height: 33px;
          display: inline-block;
          margin: 1px 0 0 8px;
          font-size: 12px;
          vertical-align: middle;
          color: #333;
          border: 1px solid #f5f5f5;
          border-radius: 40px;
          background: #f5f5f5;
        }
      
      }

      .button-right {
        width: 226px;
        height: 33px;
        margin-top: 10px;
        margin-left: 100px;
        color: rgb(0, 149, 238);
      }
    }


  .messagebox {
    background: #fff;
    margin-top: 10px;
    margin: 8px auto;
    height: 262px;
    width: 700px;
    .messagebox-wrapper {
      height: 262px;
      width: 700px;
      .messagebox-message {
        padding: 24px;
        background: #fff;
        P {
          padding: 8px;
          font-size: 14px;
          background: #fff6de;
        }
        &__text {
          display: block;
          width: 100%;
          max-width: 100%;
          min-height: 104px;
          padding: 10px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          line-height: 1.5;
        }
        &__submit {
          width: 100%;
          margin: 8px 0 0;
          font-size: 0;
          text-align: center;
          background: #aaa;
          border: 1px solid #aaa;
          color: #fff;
          display: block;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }

  .item-link {
    display: flex;
    padding-top: 20px;
    margin: 24px auto 0;
    width: 700px;
    height: 14px; 
    color: rgb(0, 149, 238);
    .link-group-left {   
      display: flex;
      &__link-left {
        display: block;
        margin-left: 15px;
      }
      &__icon {
        &--angle-left {
          display: block;
        }
      } 
    }
    .link-group-right {
      display: flex;
      margin-left: 590px;
      &__link-right {
        display: block;
        margin-right: 15px;
      }
      &__icon {
        &--angle-right {
          display: block;
        }
      }
    }
  }
  .iconbox {
    margin: 40px auto 0;
    height: 138px;
    width: 700px;
    background: #fff;

    .social-mediabox {
      display: flex;
      justify-content: center; 
      margin: 24px auto;
      padding: 32px 0 24px;
      width: 700px;
      .sharebtn {
        padding-right: 15px;
        display: block;
        margin: 16px 0 0;
        font-size: 0;
        .facebook-icon {
          display: block;
          display: inline-block;
          font-family: 'icon-font';
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          color: #fff;
          background: #385185;
          width: 44px;
          height: 44px;
          border-radius: 4px;
          line-height: 44px;

        }

        .tweet-icon {
          display: block;
          font-family: 'icon-font';
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          // color: #fff;
          background: #5d9dc9;
          font-size: 16px;
          width: 44px;
          height: 44px;
          border-radius: 4px;
          line-height: 44px;
        }
        .pinterest-icon {
          display: block;
          width: 44px;
          height: 44px;
          border-radius: 4px;
          line-height: 44px;
          content: \e014;
          display: block;
          font-family: 'icon-font';
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          color: #fff;
          background: #aa262a;
          font-size: 18px;
        }
      }
    }
  }
  .pinterest-icon :before {
    font-family: 'Font Awesome 5 Free';
    content: '¥f02b';
    font-weight: 900;
  }

  .facebook-iconk:before {
    content: '\e014';
  }


  .userbox {
    margin:40px auto 40px;
    width: 700px;
    .userbox-items {
      .username-collection {
        font-size: 22px;
        margin: 24px 0 8px;
        line-height: 1.4;
        color: rgb(0, 149, 238);

      }
      .user-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__item-box {
          width: 220px;
          height: 330px;
          &__item-photo {
            height: 220px;
            width: 220px;
            .item-photo-image {
              -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.18);
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              flex-direction: column-reverse;
              font-family: Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
              margin: 0;
              height: 220px;
              width: 220px;
            }
          }
          .item-introduction {
            width: 220px;
            height: 110px;
            background-color: #fff;
            padding: 16px;

            &__name {
              overflow: hidden;
              position: relative;
              font-weight: 400;
              height: 3em;
              line-height: 1.5;
              word-break: break-word;
              white-space: normal;

            }
            .item-price {
            
              &__num {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                margin: 8px 0 0;
              }
            }
          }
        }
      }
    }
  }



//header--新規登録
.newmember-list {
  display: block;
  display: flex;
  position: relative;
  
  .member-new {
    display: flex;
    //新規会員登録
    .new-registration {
      text-align: center;
      .new-registration-link {
        background-color: rgb(234, 53, 45);
        color: rgb(255, 255, 255);
        display: block;
        font-size: 14px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(234, 53, 45);
        border-image: initial;
        border-radius: 4px;
        padding: 8px 10px;
      }
    }
    //ログイン
    .exisiting-member {
      text-align: center;
      margin-left: 11px;
      .exsiting-member-link {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 149, 238);
        display: block;
        font-size: 14px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(0, 149, 238);
        border-image: initial;
        border-radius: 4px;
        padding: 8px 10px;
        transition: all 0.3s ease-out 0s;
      }
    }
  }
}


#item-show-modal{
  width:60%;
  margin:10% auto 0;
  z-index:6;
  position:fixed;
  background:#fff;
  top:0;
  left:20%;
  display:none;
  .modal-p{
    padding:64px;
    text-align:center;
    line-height: 1.5;
    &--bold{
      font-weight: bold;
    }
    &--text{
      line-height: 1.5;
    }
  }
  .modal__button-wrapper{
    display:flex;
    height:63px;
    width:100%;
  }
  .modal__button{
    width: 50%;
    line-height: 63px;
    cursor: pointer;
    border-top: 1px solid #ccc;
    text-align: center;
    color:$linkColor;
    &:first-child{
      border-right:1px solid #ccc;
      color:#333;
    }
  }
}

#modal-overlay{
	z-index:5;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}