.userpage-container{
  width: 700px;
  margin: 40px auto;
  background: #fff;
}



.userpage-profile{
  background: url(https://www.mercari.com/jp/assets/img/user/user_bg.jpg?33127105);
  background-size: cover;
  padding-top: 50px;
  &__photobox{
    text-align:center;
  }
  &__detail-photo{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    background-image: url('//static.mercdn.net/images/member_photo_noimage.png')
  }
  &__detail-title{
    margin: 8px 0 16px;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    line-height: 1.4;
  }
  &__detail-score{
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    span{
      &:first-child{
        margin-right: 12px;
      }
    }
  }

  &__descriptionbox{
    border-top: 2px solid #f5f5f5;
    padding: 30px 50px 60px 50px;
    line-height: 1.5;
    word-break: break-all;
    p{
      font-size: 16px;
      font-weight: 400;
      color: #333;
    }
  }
}

.user-items{
  &__container{
    overflow: hidden;
  }
  &__heading{
    font-size: 22px;
    margin: 24px 0 8px;
    line-height: 1.4;
  }
  &__content{
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    font-size: 0;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.user-itembox{
  width: 48%;
  background: #fff;
  max-width: 220px;
  width: 220px;
  vertical-align: inherit;
  &__photo{
    overflow: hidden;
    position:relative;
    padding: 0 0 100%;
    width: 220px;
    height: 220px;
    img{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      height:100%;
    }
  }
  &__body{
    padding: 16px;
    height: 110px;
  }
  &__name{
    overflow: hidden;
    position: relative;
    font-weight: 400;
    height: 3em;
    line-height: 1.5;
    word-break: break-word;
    white-space: normal;
    font-size: 16px;
    color: #333;
    &::after{
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50%;
      height: 1.5em;
      background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(72%, #fff));
      background: linear-gradient(to right, rgba(255,255,255,0), #fff 72%);
    }
  }
  &__num{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 8px 0 0;
  }
  &__price{
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
}