%ul.main-imagebox
  %li.main-box
    //商品の説明
    %figure.box-figure
      %figcapition.figure-group
        %span.figure-text
          momomo

      //商品の画像
      .product-imagebox
        %span.product-price
          ¥ 1,700
        %img.product-image{:alt => "", :src => "https://image.itmedia.co.jp/nl/articles/1712/23/hk_171216_lioncat01.jpg"}/

  %li.main-box
    //商品の説明
    %figure.box-figure
      %figcapition.figure-group
        %span.figure-text
          momomo

      //商品の画像
      .product-imagebox
        %span.product-price
          ¥ 1,700
        %img.product-image{:alt => "", :src => "https://image.itmedia.co.jp/nl/articles/1712/23/hk_171216_lioncat01.jpg"}/

  %li.main-box
    //商品の説明
    %figure.box-figure
      %figcapition.figure-group
        %span.figure-text
          momomo

      //商品の画像
      .product-imagebox
        %span.product-price
          ¥ 1,700
        %img.product-image{:alt => "", :src => "https://image.itmedia.co.jp/nl/articles/1712/23/hk_171216_lioncat01.jpg"}/

  %li.main-box
    //商品の説明
    %figure.box-figure
      %figcapition.figure-group
        %span.figure-text
          momomo

      //商品の画像
      .product-imagebox
        %span.product-price
          ¥ 1,700
        %img.product-image{:alt => "", :src => "https://image.itmedia.co.jp/nl/articles/1712/23/hk_171216_lioncat01.jpg"}/
  
  %li.main-box
    //商品の説明
    %figure.box-figure
      %figcapition.figure-group
        %span.figure-text
          momomo

      //商品の画像
      .product-imagebox
        %span.product-price
          ¥ 1,700
        %img.product-image{:alt => "", :src => "https://image.itmedia.co.jp/nl/articles/1712/23/hk_171216_lioncat01.jpg"}/

  %li.main-box
    //商品の説明
    %figure.box-figure
      %figcapition.figure-group
        %span.figure-text
          momomo

      //商品の画像
      .product-imagebox
        %span.product-price
          ¥ 1,700
        %img.product-image{:alt => "", :src => "https://image.itmedia.co.jp/nl/articles/1712/23/hk_171216_lioncat01.jpg"}/

  
