.tMFrx__ezxxhU
  .tMFrx__ezxxhU__chTgRp
    .tMFrx__ezxxhU__chTgRp__iVGjEK
      .tMFrx__ezxxhU__chTgRp__iVGjEK__bdqVww スマホでかんたんフリマアプリ
      .tMFrx__ezxxhU__chTgRp__iVGjEK__jURitu 今すぐ無料ダウンロード！
      .tMFrx__ezxxhU__chTgRp__iVGjEK__dhItlX
        %img.tMFrx__ezxxhU__chTgRp__iVGjEK__dhItlX__jSTnBt{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"}/
        %a.tMFrx__ezxxhU__chTgRp__iVGjEK__dhItlX__lgmdCB{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
          %img.tMFrx__ezxxhU__chTgRp__iVGjEK__dhItlX__lgmdCB__kDwjrS{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
        %a.tMFrx__ezxxhU__chTgRp__iVGjEK__dhItlX__lgmdCB{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
          %img.tMFrx__ezxxhU__chTgRp__iVGjEK__dhItlX__lgmdCB__fofvah{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}/
          
    %figure.tMFrx__ezxxhU__chTgRp__kzQJRg
      %img.tMFrx__ezxxhU__chTgRp__kzQJRg__cYtUcH{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}/