.wYTWu
  //header
  .wYTWu__header
    .wYTWu__header__jrJWo

      //header1
      .wYTWu__header__jrJWo__hABnEO
        .wYTWu__header__jrJWo__hABnEO__xUiJL
          %a.wYTWu__header__jrJWo__hABnEO__xUiJL__KzmkZ{:href => "/jp/"}
            %img.wYTWu__header__jrJWo__hABnEO__xUiJL__KzmkZ__kuQyNF{:alt => "Mercari", :src => "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg"}/
        %form.wYTWu__header__jrJWo__hABnEO__jhhfpc{:action => "/jp/search/"}
          %input.wYTWu__header__jrJWo__hABnEO__jhhfpc__uBYjF{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search"}/
          %button.wYTWu__header__jrJWo__hABnEO__jhhfpc__eEWgtr
            %svg.wYTWu__header__jrJWo__hABnEO__jhhfpc__eEWgtr__gKFuLS{"aria-hidden" => "true", :height => "16", :viewbox => "0 n0 16 16", :width => "16"}
              %path{:d => "M11.435 10.063h-.723l-.256-.247a5.92 5.92 0 0 0 1.437-3.87 5.946 5.946 0 1 0-5.947 5.947 5.92 5.92 0 0 0 3.87-1.437l.247.256v.723L14.637 16 16 14.637l-4.565-4.574zm-5.489 0A4.111 4.111 0 0 1 1.83 5.946 4.111 4.111 0 0 1 5.946 1.83a4.111 4.111 0 0 1 4.117 4.116 4.111 4.111 0 0 1-4.117 4.117z", :fill => "currentColor", "fill-rule" => "nonzero"}

      //header2
      .wYTWu__header__jrJWo__fBRiXF
        .wYTWu__header__jrJWo__fBRiXF__iUysIE
          .wYTWu__header__jrJWo__fBRiXF__iUysIE__duCyXi
            %a.wYTWu__header__jrJWo__fBRiXF__iUysIE__duCyXi__jreoh{:href => "/jp/category/"}
              %svg.wYTWu__header__jrJWo__fBRiXF__iUysIE__duCyXi__jreoh__dKBFhm{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 20 16", :width => "20"}>
                %path{:d => "M18.799 15.25h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zM2 16a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4z", :fill => "currentColor", "fill-rule" => "nonzero"}
              カテゴリーから探す
          .wYTWu__header__jrJWo__fBRiXF__iUysIE__duCyXi
            %a.wYTWu__header__jrJWo__fBRiXF__iUysIE__duCyXi__jreoh{:href => "/jp/brand/"}
              %svg.wYTWu__header__jrJWo__fBRiXF__iUysIE__duCyXi__jreoh__kspmux{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 23 16", :width => "23"}>
                %path{:d => "M6.315 0L4.473 1.806 2.833.019.73 1.977l1.69 1.84L1.198 5.02c-1.594 1.594-1.594 4.188-.01 5.772L6.3 16h13.272a3.08 3.08 0 0 0 3.077-3.077V3.076A3.08 3.08 0 0 0 19.57 0H6.315zm13.46 12.925a.211.211 0 0 1-.205.205H7.504L3.227 8.771a1.226 1.226 0 0 1-.01-1.71L4.38 5.92l1.28 1.371a2.68 2.68 0 1 0 2.13-1.93L6.433 3.907 7.49 2.87h12.082a.211.211 0 0 1 .206.205v9.848h-.002z", :fill => "currentColor", "fill-rule" => "nonzero"}
              ブランドから探す
        %ul.wYTWu__header__jrJWo__fBRiXF__fzedbE
          %li.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl
            %a.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__jwHbWf{:href => "/jp/mypage/like/history/"}
              %svg.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__jwHbWf__elIJWw{"aria-hidden" => "true", :height => "15", :viewbox => "0 0 16 15", :width => "16"}
                %path{:d => "M8.08 12.711l-.08.082-.08-.082C4.112 9.188 1.6 6.858 1.6 4.496c0-1.635 1.2-2.861 2.8-2.861 1.232 0 2.432.81 2.856 1.929h1.496c.416-1.12 1.616-1.93 2.848-1.93 1.6 0 2.8 1.227 2.8 2.862 0 2.362-2.512 4.692-6.32 8.215M11.6 0C10.208 0 8.872.662 8 1.708 7.128.662 5.792 0 4.4 0 1.936 0 0 1.978 0 4.496c0 3.09 2.72 5.608 6.84 9.433L8 15l1.16-1.079C13.28 10.104 16 7.586 16 4.496 16 1.978 14.064 0 11.6 0", :fill => "currentColor", "fill-rule" => "evenodd"}
              いいね！一覧
          %li.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl
            %a.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__jwHbWf{:href => "/jp/mypage/notification/"}
              %svg.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__jwHbWf__kjjLAK{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 14 16", :width => "14"}
                %path{:d => "M6.592 16c.89 0 1.632-.734 1.632-1.632H4.928c0 .898.742 1.632 1.664 1.632zm4.896-4.928V6.976c-.008-2.521-1.345-4.63-3.712-5.184v-.576C7.79.55 7.241 0 6.56 0c-.68 0-1.23.55-1.216 1.216v.576c-2.36.554-3.704 2.654-3.712 5.184v4.096L0 12.704v.832h13.12v-.832l-1.632-1.632zm-1.632.832h-6.56V6.976c0-2.024 1.238-3.68 3.296-3.68 2.026 0 3.264 1.656 3.264 3.68v4.928z", :fill => "currentColor", "fill-rule" => "nonzero"}
              お知らせ
              %span.sc-gwVKww.lcPaSU 2
            .wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn
              %ul.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__ikJPMC
                %li.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__ikJPMC__bpoJaZ
                  %a.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__ikJPMC__bpoJaZ__betTWv{:href => "/jp/mypage/"}
                    .wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__ikJPMC__bpoJaZ__betTWv__bCJPlV
                      %picture.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__ikJPMC__bpoJaZ__betTWv__bCJPlV__dbWNPd
                        %source{:srcset => "https://static.mercdn.net/images/mercari_profile.png", :type => "image/webp"}
                        %source{:srcset => "https://static.mercdn.net/images/mercari_profile.png", :type => "image/jpeg"}
                        %img.sc-jtRfpW.cKBXAH{:alt => "", :src => "https://static.mercdn.net/images/mercari_profile.png"}/
                    .wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__ikJPMC__bpoJaZ__betTWv__cppsgP
                      %p.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__ikJPMC__bpoJaZ__betTWv__cppsgP__lbvKRQ 事務局から個別メッセージ「全国のファミリーマートでメルカリの梱包資材販売がスタートします♪」
                      %time.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__ikJPMC__bpoJaZ__betTWv__cppsgP__jDpHeC
                        %svg.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__ikJPMC__bpoJaZ__betTWv__cppsgP__jDpHeC__dhTSbF{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 16 16", :width => "16"}
                          %path{:d => "M7.992 0C3.576 0 0 3.584 0 8s3.576 8 7.992 8C12.416 16 16 12.416 16 8s-3.584-8-8.008-8zM8 14.4A6.398 6.398 0 0 1 1.6 8c0-3.536 2.864-6.4 6.4-6.4 3.536 0 6.4 2.864 6.4 6.4 0 3.536-2.864 6.4-6.4 6.4zM8.4 4H7.2v4.8l4.2 2.52.6-.984L8.4 8.2V4z", :fill => "currentColor", "fill-rule" => "nonzero"}
                        %span.sc-kPVwWT.ciZoNz 1日前
                    %svg.sc-jzJRlG.sc-kfGgVZ.libfaI{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
                      %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}
                %li.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__ikJPMC__bpoJaZ__bpoJaZ
                  %a.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__ikJPMC__bpoJaZ__bpoJaZ__betTWv{:href => "/jp/mypage/"}
                    .wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__ikJPMC__bpoJaZ__bpoJaZ__betTWv__bCJPlV
                      %picture.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__ikJPMC__bpoJaZ__bpoJaZ__betTWv__bCJPlV__dbWNPd
                        %source{:srcset => "https://static.mercdn.net/images/mercari_profile.png", :type => "image/webp"}
                        %source{:srcset => "https://static.mercdn.net/images/mercari_profile.png", :type => "image/jpeg"}
                        %img.sc-jtRfpW.cKBXAH{:alt => "", :src => "https://static.mercdn.net/images/mercari_profile.png"}/
                    .sc-dfVpRl.cppsgP
                      %p.sc-gzOgki.lbvKRQ かゆい所に手が届く！厚めの商品発送におすすめの「ゆうパケットプラス」が新登場！
                      %time.sc-iyvyFf.jDpHeC
                        %svg.sc-ckVGcZ.sc-hwwEjo.dhTSbF{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 16 16", :width => "16"}
                          %path{:d => "M7.992 0C3.576 0 0 3.584 0 8s3.576 8 7.992 8C12.416 16 16 12.416 16 8s-3.584-8-8.008-8zM8 14.4A6.398 6.398 0 0 1 1.6 8c0-3.536 2.864-6.4 6.4-6.4 3.536 0 6.4 2.864 6.4 6.4 0 3.536-2.864 6.4-6.4 6.4zM8.4 4H7.2v4.8l4.2 2.52.6-.984L8.4 8.2V4z", :fill => "currentColor", "fill-rule" => "nonzero"}
                        %span.sc-kPVwWT.ciZoNz 2日前
                    %svg.sc-jzJRlG.sc-kfGgVZ.libfaI{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
                      %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}
                %li.sc-kTUwUJ.bpoJaZ
                  %a.sc-dqBHgY.betTWv{:href => "/jp/mypage/"}
                    .sc-gxMtzJ.bCJPlV
                      %picture.sc-elJkPf.dbWNPd
                        %source{:srcset => "https://static.mercdn.net/images/mercari_profile.png", :type => "image/webp"}
                        %source{:srcset => "https://static.mercdn.net/images/mercari_profile.png", :type => "image/jpeg"}
                        %img.sc-jtRfpW.cKBXAH{:alt => "", :src => "https://static.mercdn.net/images/mercari_profile.png"}/
                    .sc-dfVpRl.cppsgP
                      %p.sc-gzOgki.lbvKRQ 事務局から個別メッセージ「Googleログイン通知」
                      %time.sc-iyvyFf.jDpHeC
                        %svg.sc-ckVGcZ.sc-hwwEjo.dhTSbF{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 16 16", :width => "16"}
                          %path{:d => "M7.992 0C3.576 0 0 3.584 0 8s3.576 8 7.992 8C12.416 16 16 12.416 16 8s-3.584-8-8.008-8zM8 14.4A6.398 6.398 0 0 1 1.6 8c0-3.536 2.864-6.4 6.4-6.4 3.536 0 6.4 2.864 6.4 6.4 0 3.536-2.864 6.4-6.4 6.4zM8.4 4H7.2v4.8l4.2 2.52.6-.984L8.4 8.2V4z", :fill => "currentColor", "fill-rule" => "nonzero"}
                        %span.sc-kPVwWT.ciZoNz 2日前
                    %svg.sc-jzJRlG.sc-kfGgVZ.libfaI{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
                      %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}
          %li.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl
            %a.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__jwHbWf{:href => "/jp/mypage/todo/"}
              %svg.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__jwHbWf__hkkZYC{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 21 16", :width => "21"}
                %path{:d => "M6.682 12.657L1.67 7.642 0 9.313 6.682 16 21 1.672 19.33 0z", :fill => "currentColor", "fill-rule" => "nonzero"}
              やることリスト
            .wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn
              %ul.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__jgMiIX
                %li.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__jgMiIX__bpoJaZ
                  %a.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__jgMiIX__bpoJaZ__betTWv{:href => "https://www.mercari.com/jp/help_center/article/759/"}
                    .wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__jgMiIX__bpoJaZ__betTWv__bCJPlV
                      %picture.sc-elJkPf.dbWNPd
                        %source{:srcset => "https://static.mercdn.net/images/mercari_profile.png", :type => "image/webp"}
                        %source{:srcset => "https://static.mercdn.net/images/mercari_profile.png", :type => "image/jpeg"}
                        %img.sc-jtRfpW.cKBXAH{:alt => "", :src => "https://static.mercdn.net/images/mercari_profile.png"}/
                    .wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__jgMiIX__bpoJaZ__betTWv__cppsgP
                      %p.sc-gzOgki.lbvKRQ ご登録のメールアドレスに認証メールを送りました。メールに記載のURLをクリックして、メールアドレスを認証してください。
                      %time.sc-iyvyFf.jDpHeC
                        %svg.sc-ckVGcZ.sc-hwwEjo.dhTSbF{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 16 16", :width => "16"}
                          %path{:d => "M7.992 0C3.576 0 0 3.584 0 8s3.576 8 7.992 8C12.416 16 16 12.416 16 8s-3.584-8-8.008-8zM8 14.4A6.398 6.398 0 0 1 1.6 8c0-3.536 2.864-6.4 6.4-6.4 3.536 0 6.4 2.864 6.4 6.4 0 3.536-2.864 6.4-6.4 6.4zM8.4 4H7.2v4.8l4.2 2.52.6-.984L8.4 8.2V4z", :fill => "currentColor", "fill-rule" => "nonzero"}
                        %span.sc-kPVwWT.ciZoNz 4日前
                    %svg.sc-jzJRlG.sc-kfGgVZ.libfaI{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
                      %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}
          %li.wtYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl
            = link_to mypages_path,class:"%a.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__jwHbWf__elIJWw" do
              %img.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__jwHbWf__kmSGSf{:alt => "", :src => "https://static.mercdn.net/images/member_photo_noimage_thumb.png"}>/
              マイページ
            .wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn
              .wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__heXNii
                %figure.wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__heXNii__gMAtgd
                  .wYTWu__header__jrJWo__fBRiXF__fzedbE__gDLVUl__fVKnBn__heXNii__gMAtgd__CsUdK
                    %img.sc-gGBfsJ.jsXHUn{:alt => "", :src => "https://static.mercdn.net/images/member_photo_noimage_thumb.png"}/
                  %figcaption.sc-jnlKLf.ZXktj 百崎悠太
                .sc-tilXH.iZdtmU
                  %a.sc-hEsumM.cDbCXs{:href => "/jp/mypage/review/history/"}
                    評価:
                    / 
                    0
                  %a.sc-hEsumM.cDbCXs{:href => "/jp/mypage/listings/listing/"}
                    出品数:
                    / 
                    0
                %ul.sc-ktHwxA.dPywGa
                  %li.sc-cIShpX.iGdAxI
                    %a.sc-kafWEX.hBTVOE{:href => "/jp/mypage/sales/"}
                      .sc-feJyhm.fRrBax 売上金
                      .sc-iELTvK.ohuBD
                        ¥0
                        %svg.sc-jzJRlG.hwpmcw{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
                          %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}
                  %li.sc-cIShpX.iGdAxI
                    %a.sc-kafWEX.hBTVOE{:href => "/jp/mypage/point/"}
                      .sc-feJyhm.fRrBax ポイント
                      .sc-iELTvK.ohuBD
                        P
                        / 
                        0
                        %svg.sc-jzJRlG.hwpmcw{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
                          %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}
                .sc-fYxtnH.hSLfWw
                  %ul.sc-cmTdod.eoxnDQ
                    %li.sc-jwKygS.koyiHx
                      %a.sc-lhVmIH.ihIPHG{:href => "/jp/mypage/like/history/"}
                        いいね！一覧
                        %svg.sc-jzJRlG.sc-btzYZH.gttrDa{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
                          %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}
                    %li.sc-jwKygS.koyiHx
                      %a.sc-lhVmIH.ihIPHG{:href => "/jp/mypage/listings/listing/"}
                        出品した商品 - 出品中
                        %svg.sc-jzJRlG.sc-btzYZH.gttrDa{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
                          %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}
                    %li.sc-jwKygS.koyiHx
                      %a.sc-lhVmIH.ihIPHG{:href => "/jp/mypage/listings/in_progress/"}
                        出品した商品 - 取引中
                        %svg.sc-jzJRlG.sc-btzYZH.gttrDa{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
                          %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}
                    %li.sc-jwKygS.koyiHx
                      %a.sc-lhVmIH.ihIPHG{:href => "/jp/mypage/listings/completed/"}
                        出品した商品 - 売却済み
                        %svg.sc-jzJRlG.sc-btzYZH.gttrDa{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
                          %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}
                    %li.sc-jwKygS.koyiHx
                      %a.sc-lhVmIH.ihIPHG{:href => "/jp/mypage/purchase/"}
                        購入した商品 - 取引中
                        %svg.sc-jzJRlG.sc-btzYZH.gttrDa{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
                          %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}
                    %li.sc-jwKygS.koyiHx
                      %a.sc-lhVmIH.ihIPHG{:href => "/jp/mypage/purchased/"}
                        購入した商品 - 過去の取引
                        %svg.sc-jzJRlG.sc-btzYZH.gttrDa{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 10 16", :width => "10"}
                          %path{:d => "M0 14.12L6.18 8 0 1.88 1.903 0 10 8l-8.097 8z", :fill => "currentColor", "fill-rule" => "nonzero"}
//slider 
.main
  .main__wrapper
    %ul.main__wrapper__sliders

      //キャンプの画像
      %li.main__wrapper__sliders__add
        
      //スマホで簡単の画像
      %li.main__wrapper__sliders__slide
        .main__wrapper__sliders__slide__sumaho
          %img.main__wrapper__sliders__slide__sumaho__momo{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png"}
          .mian__wrapper__sliders__slide__sumaho__PkUrY
            .main__wrapper__sliders__slide__sumaho__PkUrY__bqsQJl
              スマホで かんたん
              %br>/
              フリマアプリ
            %p.main__wrapper__sliders__slide__sumaho__PkUrY__SGfox
              メルカリはスマホカメラからすぐに出品できる
              %br>/
              購入時も安心な独自システムのアプリです
            .main__wrapper__sliders__slide__sumaho__PkUrY__heyozC
              %a{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :rel => "noopener noreferrer", :target => "_blank"}
                //App store
                %img.main__wrapper__sliders__slide__sumaho__PkUrY__heyozC__gxiFBJ{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
              %a{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :rel => "noopener noreferrer", :target => "_blank"}
                //Google Play
                %img.main__wrapper__sliders__slide__sumaho__PkUrY__heyozC__jcELSQ{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}/

    //人気のカテゴリー
    .main__wrapper__gbACgc
      %h2.main__wrapper__gbACgc__vlRns 人気のカテゴリー
      .main__wrapper__gbACgc__eposgx
        %ul.main__wrapper__gbACgc__eposgx__jzXryh
          %li.main__wrapper__gbACgc__eposgx__jzXryh__eltcJe
            %a.main__wrapper__gbACgc__eposgx__jzXryh__eltcJe__UkWLD レディース
          %li.main__wrapper__gbACgc__eposgx__jzXryh__eltcJe
            %a.main__wrapper__gbACgc__eposgx__jzXryh__eltcJe__UkWLD メンズ
          %li.main__wrapper__gbACgc__eposgx__jzXryh__eltcJe
            %a.main__wrapper__gbACgc__eposgx__jzXryh__eltcJe__UkWLD 家電・スマホ・カメラ
          %li.main__wrapper__gbACgc__eposgx__jzXryh__eltcJe
            %a.main__wrapper__gbACgc__eposgx__jzXryh__eltcJe__UkWLD おもちゃ・ホビー・グッズ

    //レディース新着アイテム
    .main__wrapper__kfypOL
      .main__wrapper__kfypOL__nBmDG
        .main__wrapper__kfypOL__nBmDG__kHQmYB{:name => "scroll-1"}
          %h3.main__wrapper__kfypOL__nBmDG__kHQmYB__icXKoL レディース新着アイテム
          %a.main__wrapper__kfypOL__nBmDG__kHQmYB__cVpVcG{:href => "/jp/category/1/"} もっと見る

        //商品一覧
        .main__wrapper__kfypOL__nBmDG__eBHtrH
          %ul.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ
            %li.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ

              //商品の説明
              %figure.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group

                //商品の名前
                %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__text
                  momomomomomomomomomomomomomomo

                //商品の画像
                %figcaption.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product
                  %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__price
                    ¥ 1,700
                  %img.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__image{:alt => "", :src => "https://image.itmedia.co.jp/nl/articles/1712/23/hk_171216_lioncat01.jpg"}/
            
            %li.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ

              //商品の説明
              %figure.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group

                //商品の名前
                %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__text
                  momo

                //商品の画像
                %figcaption.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product
                  %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__price
                    ¥ 1,700
                  %img.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__image{:alt => "", :src => "https://pbs.twimg.com/profile_images/543437809147588608/57M95eGA_400x400.png"}/
              
            %li.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ

              //商品の説明
              %figure.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group

                //商品の名前
                %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__text
                  momomomomomomomomomomomomomomo

                //商品の画像
                %figcaption.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product
                  %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__price
                    ¥ 1,700
                  %img.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__image{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m78125984445_1.jpg?1572163418"}/
              
                        
            %li.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ

              //商品の説明
              %figure.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group

                //商品の名前
                %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__text
                  momomomomomomomomomomomomomomo

                //商品の画像
                %figcaption.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product
                  %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__price
                    ¥ 1,700
                  %img.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__image{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m78125984445_1.jpg?1572163418"}/
            
            %li.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ

              //商品の説明
              %figure.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group

                //商品の名前
                %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__text
                  momomomomomomomomomomomomomomo

                //商品の画像
                %figcaption.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product
                  %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__price
                    ¥ 1,700
                  %img.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__image{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m78125984445_1.jpg?1572163418"}/

            %li.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ

              //商品の説明
              %figure.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group

                //商品の名前
                %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__text
                  momomomomomomomomomomomomomomo

                //商品の画像
                %figcaption.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product

                  %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__price
                    ¥ 1,700
                  %img.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__image{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m78125984445_1.jpg?1572163418"}/
              
            %li.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ

              //商品の説明
              %figure.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group

                //商品の名前
                %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__text
                  momomomomomomomomomomomomomomo

                //商品の画像
                %figcaption.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product
                  %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__price
                    ¥ 1,700
                  %img.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__image{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m78125984445_1.jpg?1572163418"}/
            
            %li.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ

              //商品の説明
              %figure.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group

                //商品の名前
                %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__text
                  momomomomomomomomomomomomomomo

                //商品の画像
                %figcaption.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product
                  %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__price
                    ¥ 1,700
                  %img.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__image{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m78125984445_1.jpg?1572163418"}/
            
            %li.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ

              //商品の説明
              %figure.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group

                //商品の名前
                %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__text
                  momomomomomomomomomomomomomomo

                //商品の画像
                %figcaption.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product
                  %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__price
                    ¥ 1,700
                  %img.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__image{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m78125984445_1.jpg?1572163418"}/

            %li.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ

              //商品の説明
              %figure.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group

                //商品の名前
                %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__text
                  momomomomomomomomomomomomomomo

                //商品の画像
                %figcaption.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product
                  %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__price
                    ¥ 1,700
                  %img.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__image{:alt => "", :src => "https://static.mercdn.net/thumb/photos/m78125984445_1.jpg?1572163418"}/

      .main__wrapper__kfypOL__nBmDG
        .main__wrapper__kfypOL__nBmDG__kHQmYB{:name => "scroll-2"}
          %h3.main__wrapper__kfypOL__nBmDG__kHQmYB__icXKoL メンズ新着アイテム
          %a.main__wrapper__kfypOL__nBmDG__kHQmYB__cVpVcG{:href => "/jp/category/2/"} もっと見る
        %div
          %ul.main__wrapper__kfypOL__nBmDG__jpYgbZ
            %li.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ

              //商品の説明
              %figure.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group

                //商品の名前
                %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__text
                  momomomomomomomomomomomomomomo

                //商品の画像
                %figcaption.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product
                  %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__price
                    ¥ 1,700
                  %img.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__image{:alt => "", :src => "https://static.mercdn.net/item/detail/orig/photos/m83286355705_1.jpg?1570086992"}/

            %li.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ

              //商品の説明
              %figure.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group

                //商品の名前
                %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__text
                  momomomomomomomomomomomomomomo

                //商品の画像
                %figcaption.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product
                  %span.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__price
                    ¥ 1,700
                  %img.main__wrapper__kfypOL__nBmDG__eBHtrH__jpYgbZ__kxreZ__group__product__image{:alt => "", :src => "https://static.mercdn.net/item/detail/orig/photos/m83286355705_1.jpg?1570086992"}/


   
        
      .main__wrapper__kfypOL__nBmDG
        .main__wrapper__kfypOL__nBmDG__kHQmYB{:name => "scroll-7"}
          %h3.main__wrapper__kfypOL__nBmDG__kHQmYB__icXKoL 家電・スマホ・カメラ新着アイテム
          %a.main__wrapper__kfypOL__nBmDG__kHQmYB__cVpVcG{:href => "/jp/category/7/"} もっと見る
        %div
          %ul.sc-eMigcr.jpYgbZ
    
      .main__wrapper__kfypOL__nBmDG
        .main__wrapper__kfypOL__nBmDG__kHQmYB{:name => "scroll-1328"}
          %h3.main__wrapper__kfypOL__nBmDG__kHQmYB__icXKoL おもちゃ・ホビー・グッズ新着アイテム
          %a.main__wrapper__kfypOL__nBmDG__kHQmYB__cVpVcG{:href => "/jp/category/1328/"} もっと見る
        %div
          %ul.sc-eMigcr.jpYgbZ
            
    .main__wrapper__gbACgc
      %h2.main__wrapper__gbACgc__vlRns 人気のブランド
      .main__wrapper__gbACgc__eposgx
        %ul.main__wrapper__gbACgc__eposgx__jzXryh
          %li.main__wrapper__gbACgc__eposgx__jzXryh__eltcJe
            %a.main__wrapper__gbACgc__eposgx__jzXryh__eltcJe__UkWLD シャネル
          %li.main__wrapper__gbACgc__eposgx__jzXryh__eltcJe
            %a.main__wrapper__gbACgc__eposgx__jzXryh__eltcJe__UkWLD ルイヴィトン
          %li.main__wrapper__gbACgc__eposgx__jzXryh__eltcJe
            %a.main__wrapper__gbACgc__eposgx__jzXryh__eltcJe__UkWLD シュプリーム
          %li.main__wrapper__gbACgc__eposgx__jzXryh__eltcJe
            %a.main__wrapper__gbACgc__eposgx__jzXryh__eltcJe__UkWLD ナイキ

    .main__wrapper__kfypOL
      .main__wrapper__kfypOL__nBmDG
        .main__wrapper__kfypOL__nBmDG__kHQmYB{:name => "scroll-658"}
          %h3.main__wrapper__kfypOL__nBmDG__kHQmYB__icXKoL シャネル新着アイテム
          %a.main__wrapper__kfypOL__nBmDG__kHQmYB__cVpVcG{:href => "/jp/brand/658/"} もっと見る
        %div
          %ul.sc-eMigcr.jpYgbZ
      
      .main__wrapper__kfypOL__nBmDG
        .main__wrapper__kfypOL__nBmDG__kHQmYB{:name => "scroll-1326"}
          %h3.main__wrapper__kfypOL__nBmDG__kHQmYB__icXKoL ルイヴィトン新着アイテム
          %a.main__wrapper__kfypOL__nBmDG__kHQmYB__cVpVcG{:href => "/jp/brand/1326/"} もっと見る
        %div
          %ul.sc-eMigcr.jpYgbZ

      .main__wrapper__kfypOL__nBmDG
        .main__wrapper__kfypOL__nBmDG__kHQmYB{:name => "scroll-1620"}
          %h3.main__wrapper__kfypOL__nBmDG__kHQmYB__icXKoL シュプリーム新着アイテム
          %a.main__wrapper__kfypOL__nBmDG__kHQmYB__cVpVcG{:href => "/jp/brand/1620/"} もっと見る
        %div
          %ul.sc-eMigcr.jpYgbZ
    
      .main__wrapper__kfypOL__nBmDG
        .main__wrapper__kfypOL__nBmDG__kHQmYB{:name => "scroll-857"}
          %h3.main__wrapper__kfypOL__nBmDG__kHQmYB__icXKoL ナイキ新着アイテム
          %a.main__wrapper__kfypOL__nBmDG__kHQmYB__cVpVcG{:href => "/jp/brand/857/"} もっと見る
        %div
          %ul.sc-eMigcr.jpYgbZ
     

  //今すぐ無料ダウンロード
  .main__tMFrx
    .main__tMFrx__ezxxhU
      .main__tMFrx__ezxxhU__chTgRp
        .main__tMFrx__ezxxhU__chTgRp__iVGjEK
          .main__tMFrx__ezxxhU__chTgRp__iVGjEK__bdqVww スマホでかんたんフリマアプリ
          .main__tMFrx__ezxxhU__chTgRp__iVGjEK__jURitu 今すぐ無料ダウンロード！
          .main__tMFrx__ezxxhU__chTgRp__iVGjEK__dhItlX
            %img.main__tMFrx__ezxxhU__chTgRp__iVGjEK__dhItlX__jSTnBt{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"}/
            %a.main__tMFrx__ezxxhU__chTgRp__iVGjEK__dhItlX__lgmdCB{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
              %img.main__tMFrx__ezxxhU__chTgRp__iVGjEK__dhItlX__lgmdCB__kDwjrS{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
            %a.main__tMFrx__ezxxhU__chTgRp__iVGjEK__dhItlX__{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
              %img.wYTWu__tMFrx__ezxxhU__chTgRp__iVGjEK__dhItlX__lgmdCB__fofvah{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}/
        %figure.main__tMFrx__ezxxhU__chTgRp__kzQJRg
          %img.main__tMFrx__ezxxhU__chTgRp__kzQJRg__cYtUcH{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}/
          
  //footer
.footer
  %nav.footer__drJXHf
    .footer__drJXHf__hHaGTu
      %h2.footer__drJXHf__hHaGTu__cPzMyz メルカリについて
      %ul.footer__drJXHf__hHaGTu__ewFVzB
        %li.footer__drJXHf__hHaGTu__ewFVzB__cbYKEG
          会社概要（運営会社）
        %li.footer__drJXHf__hHaGTu__ewFVzB__cbYKEG
          採用情報
        %li.footer__drJXHf__hHaGTu__ewFVzB__cbYKEG
          プレスリリース
        %li.footer__drJXHf__hHaGTu__ewFVzB__cbYKEG
          公式ブログ
        %li.footer__drJXHf__hHaGTu__ewFVzB__cbYKEG
          メルカリロゴ利用ガイドライン
        %a.footer__drJXHf__hHaGTu__ewFVzB__icmRxI{:href => "https://twitter.com/mercari_jp", :target => "_blank"}
          %svg.footer__drJXHf__hHaGTu__ewFVzB__icmRxI__iQCNqi{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 21 16", :width => "21"}
            %path{:d => "M6.343 15.969c7.61 0 11.773-6.134 11.773-11.444 0-.172 0-.345-.008-.517a8.303 8.303 0 0 0 2.066-2.086 8.576 8.576 0 0 1-2.38.635A4.07 4.07 0 0 0 19.616.329a8.377 8.377 0 0 1-2.63.973 4.186 4.186 0 0 0-3.019-1.27c-2.283 0-4.14 1.803-4.14 4.023 0 .314.041.62.106.918A11.866 11.866 0 0 1 1.404.769a3.936 3.936 0 0 0-.557 2.023c0 1.396.735 2.628 1.84 3.35a4.278 4.278 0 0 1-1.872-.503v.055c0 1.945 1.428 3.577 3.317 3.945-.347.094-.71.141-1.09.141-.266 0-.524-.023-.774-.07.524 1.6 2.057 2.76 3.865 2.792a8.452 8.452 0 0 1-5.14 1.725 8.19 8.19 0 0 1-.985-.054 12.02 12.02 0 0 0 6.335 1.796", :fill => "currentColor", "fill-rule" => "evenodd"}
        %a.footer__drJXHf__hHaGTu__ewFVzB__icmRxI{:href => "https://www.facebook.com/mercarijp", :target => "_blank"}
          %svg.footer__drJXHf__hHaGTu__ewFVzB__icmRxI__gJZiyP{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 16 16", :width => "16"}
            %path{:d => "M15.111 0H.89A.889.889 0 0 0 0 .889V15.11c0 .491.398.889.889.889h7.658V9.813H6.469V7.391h2.078V5.613c0-2.066 1.262-3.193 3.11-3.193.623-.002 1.244.03 1.863.096v2.15h-1.276c-1.002 0-1.197.478-1.197 1.178v1.543h2.397l-.31 2.422h-2.087V16h4.064c.491 0 .889-.398.889-.889V.89A.889.889 0 0 0 15.111 0z", :fill => "currentColor", "fill-rule" => "evenodd"}
    .footer__drJXHf__hHaGTu
      %h2.footer__drJXHf__hHaGTu__cPzMyz ヘルプ＆ガイド
      %ul.footer__drJXHf__hHaGTu__ewFVzB
        %li.footer__drJXHf__hHaGTu__ewFVzB__cbYKEG
          メルカリガイド
        %li.footer__drJXHf__hHaGTu__ewFVzB__cbYKEG
          らくらくメルカリ便
        %li.footer__drJXHf__hHaGTu__ewFVzB__cbYKEG
          ゆうゆうメルカリ便
        %li.footer__drJXHf__hHaGTu__ewFVzB__cbYKEG
          大型メルカリ便
        %li.footer__drJXHf__hHaGTu__ewFVzB__cbYKEG
          車体取引ガイド
        %li.footer__drJXHf__hHaGTu__ewFVzB__cbYKEG
          メルカリあんしん・あんぜん宣言！
        %li.footer__drJXHf__hHaGTu__ewFVzB__cbYKEG
          偽ブランド品撲滅への取り組み
        %li.footer__drJXHf__hHaGTu__ewFVzB__cbYKEG
          メルカリボックス
    .footer__drJXHf__aWegH
      %h2.footer__drJXHf__aWegH__cPzMyz プライバシーと利用規約
      .footer__drJXHf__aWegH__dzjMfv
        %ul.footer__drJXHf__aWegH__dzjMfv__ewFVzB
          %li.footer__drJXHf__aWegH__dzjMfv__ewFVzB__cbYKEG
            プライバシーポリシー
          %li.footer__drJXHf__aWegH__dzjMfv__ewFVzB__cbYKEG
            メルカリ利用規約
          %li.footer__drJXHf__aWegH__dzjMfv__ewFVzB__cbYKEG
            あんしんスマホサポート制度に関する利用特約
          %li.footer__drJXHf__aWegH__dzjMfv__ewFVzB__cbYKEG
            コンプライアンスポリシー
      .footer__drJXHf__aWegH__dzjMfv
        %ul.footer__drJXHf__aWegH__dzjMfv__ewFVzB
          %li.footer__drJXHf__aWegH__dzjMfv__ewFVzB__cbYKEG
            個人データの安全管理に係る基本方針
          %li.footer__drJXHf__aWegH__dzjMfv__ewFVzB__cbYKEG
            特定商取引に関する表記
          %li.footer__drJXHf__aWegH__dzjMfv__ewFVzB__cbYKEG
            資金決済法に基づく表示
          %li.footer__drJXHf__aWegH__dzjMfv__ewFVzB__cbYKEG
            法令順守と犯罪抑止のために
    .footer__drJXHf__doTCXK
      %h2.footer__drJXHf__doTCXK__cPzMyz 国
      %ul.footer__drJXHf__doTCXK__ewFVzB
        %li.footer__drJXHf__doTCXK__ewFVzB__cbYKEG
          %a.footer__drJXHf__doTCXK__ewFVzB__cbYKEG__hIUIIb{:href => "/jp/"} 日本
          %a.footer__drJXHf__doTCXK__ewFVzB__cbYKEG__hIUIIb{:href => "/"} United States
  .footer__igdlOb
    %a.footer__igdlOb__hdALBW{:href => "/jp/"}
      %img.footer__igdlOb__hdALBW__ioByYU{:alt => "Mercari", :src => "https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg"}/
    %span.footer__igdlOb__exdDTv © 2019 Mercari